<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.welcome.taskscheduler">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.app.default_searchable"
                android:value=".data.SearchResult" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewTask"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TaskDetails"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name=".data.TaskProvider"
            android:authorities="com.example.welcome.taskscheduler"
            android:exported="true"
            android:syncable="true" />

        <receiver
            android:name=".utils.AddReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.evernote.android.job.ADD_JOB_CREATOR" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.TaskWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_widget_provider_info" />
        </receiver>

        <service android:name=".services.TaskReminderIntentService" />
        <service android:name=".services.CompletedTaskDeletingIntentService" />
        <service
            android:name=".services.GridViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".data.SearchResult"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.welcome.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>